@use '../utils/variebles';

%card-titles {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
%padding {
  padding-bottom: 36px;
}
%gap {
  gap: 38px; // уважно дивитися на гэп, бо у таких секцій, як "biggest_number", "paper_scissors_game", "calculator", він співпадає і тому у нас буде цей плейхолдер
}
%modal_basic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(720deg) scale(1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: transform 300ms ease-in-out, color 300ms ease-in-out,
    transform 600ms ease-in-out;
}
@mixin input_basic($width) {
  width: $width;
  height: 35px;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--inputs-color);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
}
%plaseholders_basic {
  font-weight: 400;
  font-size: 12px;
  color: var(--placeholders-color);
}
%basic_margin {
  margin-bottom: 36px;
}
%line {
  content: '';
  display: block;
  height: 1.8px;
  width: 536px;
  background-color: var(--buttons-background);
  @media screen and (max-width: 768px) {
    width: 480px;
  }
  @media screen and (max-width: 480px) {
    width: 300px;
  }
}
