:root{
    --main--test--color: black;
    --main--bg--color: white;
    --dynamic-win-text-color: #039900;
    --dynamic-lose-text-color: #990000;
    --font-family: "Montserrat", sans-serif;
    --buttons-background:  #000;
    --inputs-color: #d9d9d9;
}