@use "../utils/variebles";
@use '../utils/placeholders';



.biggest-number {
    position: relative;
    text-align: center;
    margin: 40px 0;
    @extend %basic_margin;
   
  }


  .biggest-number-h2 {
    @extend %basic_margin;
    @extend %card-titles;

}


.biggest-number-input {
 margin-left: 38px ;
 padding: 10px 20px;
  @include placeholders.input_basic(135px);
  margin-bottom: 40px;


}

.biggest-number-p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  padding-bottom: 36px;

}




.biggest-number::after {

  @extend %line;

}

.biggest-number::after {
  margin: 20px auto 0 auto;
}