@use '../utils/variebles';
@use '../utils/placeholders';

.gues_mumber {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %basic_margin;

  &_title {
    text-align: center;
    @extend %card-titles;
    @extend %basic_margin;
  }

  &_geometry_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @extend %padding;
    @media screen and (max-width: 480px) {
      align-items: center;
    }
  }

  &_glue_div {
    position: relative;
  }

  &_input {
    padding: 10px 45px 10px 10px;
    @include placeholders.input_basic(150px);
  }

  &_input::placeholder {
    @extend %plaseholders_basic;
  }

  &_submit_button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 20px 20px 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--buttons-background);
    border: none;
  }

  &_submit_button:hover {
        width: 39px;
    background-color: #7e7e7e;
  }

  &_svg{
    @extend %search_svg;
  }

    &_submit_button:hover .gues_mumber_svg{
        @extend %search_svg_hover;
  }

  &_reaset_button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
  }

  &_hardmode_button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid rgb(255, 153, 0);
    background-color: rgb(204, 6, 6);
    color: rgb(255, 153, 0);
    font-weight: 600;
  }

  &_responde {
    display: block;
    max-width: 250px;
    margin-left: 202px;
    font-weight: 400;
    font-size: 12px;
    color: var(--main--test--color);
    @media screen and (max-width: 768px) {
      margin-left: 160px;
    }
    @media screen and (max-width: 480px) {
      margin-left: 76px;
    }
  }

  &::after {
    @extend %line;
  }

}
