@use "../utils/variebles";
@use "../utils/placeholders";
.header {
    color: var(--main--test--color);
    background-color: var(--main--bg--color);
    padding: 21px 0px 21px 0px;
}
.headerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 60px;
    &_logo {
        height: 40px;
        width: 93px;
    }
    &_list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-left: 81px;
        @media screen and (max-width: 1200px) {
            margin-left: 60px;
        }
        @media screen and (max-width: 768px) {
                margin-left: 50px;
        }
        
    }
    &_item {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--main--test--color);
    }
    &_greetingsDiv {
        display: flex;
        margin-right: 0;
        margin-left: auto;
    }
    &_label {
        position: relative;
        width: 40px;
        height: 20px;
        cursor: pointer;
    }
    &_checkbox {
        display: none;
    }
    &_slider {
        position: absolute;
        border-radius: 11px;
        background-color: var(--placeholders-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
    }
    &_slider::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #FFF;
        border-radius: 50%;
        background-image: url('../img/white-dark.svg');
        background-size: contain;
        transition: 0.4s;
    }
    &_checkbox:checked + &_slider::before {
        transform: translateX(20px);
        background-image: url('../img/dark-white.svg');
        background-color: #000;
    }
    &_greetings {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--main--test--color);
        margin-left: 51px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1200px) {
            margin-left: 15px;
        }
       @media screen and (max-width: 768px) {
        margin-left: 15px;
       }
    }
    
}
.dropDown {
    position: relative;
    display: inline-block;
    &_btn {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0;
        color: var(--main--test--color);
        cursor: pointer;
        &_arrow {
            width: 11px;
            height: 7px;
            margin-left: 8px;
        }
    }
    &_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        z-index: 10;
        &_mobile {
           @media screen and (min-width: 768px) {
            display: none;
           } 
           &_item {
            text-align: center;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            color: var(--main--test--color);
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            width: 160px;
            height: 35px;
            cursor: pointer;
            background-color: var(--main--bg--color);
            padding: 10px;
            transition: 0.8s;
           }
           &_item:hover {
            background-color: #f1f1f1;
            transition: 0.5s;
           }
        }
    }
    &_item {
        text-align: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--main--test--color);
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        width: 160px;
        height: 35px;
        cursor: pointer;
        background-color: var(--main--bg--color);
        padding: 10px;
        transition: 0.8s;
        &_bottom {
            border-bottom: 1px solid #000;
            border-radius: 0 0 20px 20px;
        }
    }
    &_item:hover {
        background-color: #f1f1f1;
        transition: 0.5s;
    }
}
.mobileVer {
    @media screen and (max-width: 768px) {
        display: none;
    }
}