@use "../utils/variebles";
@use "../utils/placeholders";
.ourTeamDiv {
  position: relative;
  @extend %padding; 
  &_title {
    @extend %card-titles;
    @extend %basic_margin;
    text-align: center;
  }
  &_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
    &_img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      width: 150px;
      height: 150px;
    }
    &_title {
      text-align: center;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }
    &_description {
      text-align: center;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      color: #000;
    }
  }
  &_button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &_svg {

    }
  }
}
.ourTeamDiv::after {
  @extend %line;
  margin: 20px auto 0 auto;
}
.left {
  top: 80px;
  left: 30px;
}
.right {
  top: 80px;
  right: 30px;
} 

#first-card {
  display: flex;
}
#second-card {
  display: none;
}
#third-card {
  display: none;
}
#fourth-card {
  display: none;
}