<div class="calcNumberDiv">
  <h2 class="calcNumberDiv_title"  data-aos="fade-down" data-aos-delay="300">Калькулятор</h2>
  <div class="calcNumberDiv_align">
  <label class="calcNumberDiv_label"  data-aos="zoom-in-right" data-aos-delay="500">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input" id="first-num" data-aos="zoom-in"  data-aos-delay="800">
  </label>
  <ul class="calcNumberDiv_list">
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="plus-btn">+</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="multiply-btn">*</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="minus-btn">-</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="divide-btn">/</button>
    </li>
  </ul>
  <label class="calcNumberDiv_label" data-aos="zoom-in-right" data-aos-delay="900">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input" id="second-num" data-aos="zoom-in"  data-aos-delay="1200">
  </label>
  <button class="calcNumberDiv_button" id="equals-btn">=</button>
  <label class="calcNumberDiv_resultLabel" data-aos="zoom-in-right" data-aos-delay="1300">
    <input type="text" placeholder="Результат" class="calcNumberDiv_resultInput" id="result-num" data-aos="zoom-in"  data-aos-delay="1600">
  </label>
</div>
</div>
