<div class="calcNumberDiv">
  <h2 class="calcNumberDiv_title">Калькулятор</h2>
  <div class="calcNumberDiv_align">
  <label class="calcNumberDiv_label">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input" id="first-num"/>
  </label>
  <ul class="calcNumberDiv_list">
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="plus-btn">+</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="multiply-btn">*</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="minus-btn">-</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button" id="divide-btn">/</button>
    </li>
  </ul>
  <label class="calcNumberDiv_label">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input" id="second-num"/>
  </label>
  <button class="calcNumberDiv_button" id="equals-btn">=</button>
  <label class="calcNumberDiv_resultLabel">
    <input type="text" placeholder="Результат" class="calcNumberDiv_resultInput" id="result-num"/>
  </label>
</div>
</div>
