<div class="calcNumberDiv">
  <h2 class="calcNumberDiv_title">Калькулятор</h2>
  <div class="calcNumberDiv_align">
  <label class="calcNumberDiv_label">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input"/>
  </label>
  <ul class="calcNumberDiv_list">
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button">+</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button">*</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button">-</button>
    </li>
    <li class="calcNumberDiv_item">
      <button class="calcNumberDiv_button">/</button>
    </li>
  </ul>
  <label class="calcNumberDiv_label">
    <input type="text" placeholder="Введіть число" class="calcNumberDiv_input"/>
  </label>
  <button class="calcNumberDiv_button">=</button>
  <label class="calcNumberDiv_resultLabel">
    <input type="text" placeholder="Результат" class="calcNumberDiv_resultInput"/>
  </label>
</div>
</div>
