<div class="check_year">
        <div class="check_year_card">
            <h2 class="check_year_title">Перевір в який рік ти народився</h2>
            <div class="check_year_geometry_div">
                <form class="check_year_form">
                    <input class="check_year_input" name="number" placeholder="Введіть рік народження">
                    <button class="check_year_button" type="submit"></button>
                </form>
                <p class="check_year_responde">Test-text</p>
            </div>
        </div>
</div>