<footer class="footer">
  <div class="container">
    <!--  -->
    <div>
      <a href="../index.html"><img src="" alt="logotype" /></a>
    </div>
    <ul class="footer-list">
      <li><a href="tel:+38 (123) 456 78 90"></a></li>
      <li><a href="mailto:codingmagic@gmail.com"></a></li>
      <li><a href="#">CodingMagic</a></li>
      <li><a href="#">CodingMagic</a></li>
      <li><a href="#">CodingMagic</a></li>
    </ul>
    <!--  -->
    <div class="footer-subscribe">
      <form action="#" class="subscribe-form">
        <input
          type="email"
          placeholder="Ваша ел. адреса..."
          class="email-input"
          required
        />
        <button type="submit" class="subscribe-button">Підписатись</button>
        <p class="subscribe-note">
          *Підписавшись, Ви зможете оптимізувати інформацію про новинки на сайті
        </p>
      </form>
    </div>
  </div>
</footer>
