<div class="backdrop">
  <div class="greating_modal">
    <button data-action="close-modal" class="greating_modal_button_close">
      <img class="greating_modal_button_close_img" src="./img/close-btn.png" alt="close button (cross)">
    </button>
    <p class="greating_modal_description">
      Привіт! <br> Ви потрапили на сайт інтерактивних ігор та завдань. <br> Надіємось, що
      вам сподобається і ви отримаєте позитивні емоції! <br> Бажаємо Вам гарно
      провести час!
    </p>
    <p class="greating_modal_command">Введіть своє ім’я:</p>
    <form class="greating_modal_form">
    <input class="greating_modal_input" name="name" placeholder="Ваше ім’я...">
    <button class="greating_modal_submit_button" type="submit">Зберегти</button>
    </form>
  </div>
</div>

