<div class="backdrop">
  <div class="greating_modal">
    <button class="greating_modal_button_close">
      <!-- <svg class="button_modal_close_svg"></svg> -->
    </button>
    <p class="greating_modal_description">
      Привіт! <br> Ви потрапили на сайт інтерактивних ігор та завдань. <br> Надіємось, що
      вам сподобається і ви отримаєте позитивні емоції! <br> Бажаємо Вам гарно
      провести час!
    </p>
    <p class="greating_modal_command">Введіть своє ім’я:</p>
    <form class="greating_modal_form">
    <input class="greating_modal_input" name="name" placeholder="Ваше ім’я...">
    <button class="greating_modal_submit_button" type="submit">Зберегти</button>
    </form>
  </div>
</div>

