<!-- <div class="backdrop">
  <div class="greating_modal">
    <button class="button_modal_close">
      <svg class="button_modal_close_svg"></svg>
    </button>
    <p class="greating_modal_description">
      Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що
      вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
      провести час!
    </p>
    <p class="greating_modal_command">Введіть своє ім’я:</p>
    <form class="greating_modal_form">
    <input class="greating_modal_input">
    <button class="greating_modal_submit_button">Зберегти</button>
    </form>
  </div>
</div> -->
