<section class="gues_mumber">
<div class="container">
<div class="gues_mumber_card">
<h2 class="gues_mumber_title">Вгадай число, яке загадав комп’ютер</h2>
<div class="gues_mumber_geometry_div">
    <form class="gues_mumber_form">
        <input class="gues_mumber_input" name="number" placeholder="Введіть число">
        <button class="gues_mumber_submit_button"><!-- <svg class="gues_mumber_svg"></svg> --></button>
    </form>
    <p class="gues_mumber_responde">Test-text</p>
</div>
</div>
</div>
</section>