<header class="header">
  <div class="container">
    <div class="headerDiv">
      <svg class="headerDiv_logo">
        <use></use>
      </svg>
      <ul class="headerDiv_list">
        <li class="headerDiv_item">
          <div class="dropDown">
            <button class="dropDown_btn">Інтерактив</button>
            <div class="dropDown_menu">
              <div class="dropDown_item">Числовий</div>
              <div class="dropDown_item">Ігровий</div>
              <div class="dropDown_item dropDown_item_bottom">Ознайомчий</div>
            </div>
          </div>
        </li>
        <li class="headerDiv_item">
          <a href="#">Наша команда</a>
        </li>
        <li class="headerDiv_item">
          <a href="#">Контакти</a>
        </li>
      </ul>
      <div class="headerDiv_greetingsDiv">
        <label class="headerDiv_label">
          <input type="checkbox" class="headerDiv_checkbox" />
        </label>
        <p class="headerDiv_greetings">Вітаємо, <span>User</span>!</p>
      </div>
    </div>
  </div>
</header>

