<header class="header">
  <div class="container">
    <div class="headerDiv">
      <a href="../index.html"><img src="./img/logo.svg" class="headerDiv_logo" data-aos="fade-right"
     data-aos-easing="ease-in-sine"
     data-aos-delay="200"></a>
      <ul class="headerDiv_list">
        <li class="headerDiv_item">
          <div class="dropDown">
            <button class="dropDown_btn" data-aos="fade-down" data-aos-delay="600">Інтерактив <span><img src="./img/arrow-bottom.svg" alt="arrow button" class="dropDown_btn_arrow"  data-aos="fade-down" data-aos-delay="1000"></span></button>
            <div class="dropDown_menu">
              <div class="dropDown_menu_mobile">
                <div class="dropDown_menu_mobile_item"><a href="#ourTeam">Наша команда</a></div>
                <div class="dropDown_menu_mobile_item"><a href="#footer">Контакти</a></div>
              </div>
              <div class="dropDown_item"><a href="#">Числовий</a></div>
              <div class="dropDown_item"><a href="#">Ігровий</a></div>
              <div class="dropDown_item dropDown_item_bottom"><a href="#">Ознайомчий</a></div>
            </div>
          </div>
        </li>
        <li class="headerDiv_item mobileVer">
          <a href="#ourTeam" data-aos="fade-down" data-aos-delay="1200">Наша команда</a>
        </li>
        <li class="headerDiv_item mobileVer">
          <a href="#footer" data-aos="fade-down" data-aos-delay="1700">Контакти</a>
        </li>
      </ul>
      <div class="headerDiv_greetingsDiv">
        <label class="headerDiv_label" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="1900"
     data-aos-offset="0">
          <input type="checkbox" class="headerDiv_checkbox" id="themeToggle">
          <span class="headerDiv_slider"></span>
        </label>
        <p class="headerDiv_greetings" data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="500"
     data-aos-delay="2400">Вітаємо, <span class="headerDiv_greetingsSpan">User</span>!</p>
      </div>
    </div>
  </div>
</header>

