<div>
  <svg class="headerLogo">
    <use></use>
  </svg>
  <ul class="headerList">
    <li class="headerItem">
      <div class="dropDown">
        <button class="dropDownBtn">Інтерактив</button>
        <div class="dropDownMenu">
          <div class="dropDownItem">Числовий</div>
          <div class="dropDownItem">Ігровий</div>
          <div class="dropDownItem">Ознайомчий</div>
        </div>
      </div>
    </li>
    <li class="headerItem">
      <a href="#">Наша команда</a>
    </li>
    <li class="headerItem">
      <a href="#">Контакти</a>
    </li>
  </ul>
  <label class="headerLabel">
    <input type="checkbox" class="headerCheckbox" />
  </label>
  <p class="headerGreetings">Вітаємо, <span>User</span></p>
</div>
