<div class="ourTeamDiv">
  <h2 class="ourTeamDiv_title">Наша команда</h2>
  <div class="ourTeamDiv_slider">
    <div class="ourTeamDiv_slider_item">
      <img src="" alt="studentPhoto1" class="ourTeamDiv_slider_img"/>
      <h3 class="ourTeamDiv_slider_title">Олександр</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item">
      <img src="" alt="studentPhoto2" class="ourTeamDiv_slider_img"/>
      <h3 class="ourTeamDiv_slider_title">Гліб</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item">
      <img src="" alt="studentPhoto3" class="ourTeamDiv_slider_img"/>
      <h3 class="ourTeamDiv_slider_title">Сергій</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item">
      <img src="" alt="studentPhoto4" class="ourTeamDiv_slider_img"/>
      <h3 class="ourTeamDiv_slider_title">Кіра</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
  </div>
  <button class="ourTeamDiv_button">
    <svg class="ourTeamDiv_button_svg">
      <use></use>
    </svg>
  </button>
  <button class="ourTeamDiv_button">
    <svg class="ourTeamDiv_button_svg">
      <use></use>
    </svg>
  </button>
</div>
