<div class="ourTeamDiv">
  <h2 class="ourTeamDiv_title">Наша команда</h2>
  <div class="ourTeamDiv_slider">
    <div class="ourTeamDiv_slider_item" id="first-card">
      <img src="https://en.dota2changer.com/Image/Nevermore%20Blue%20Shadow%20Fiend%20Custom%20Arcana.jpg?v=2" alt="studentPhoto1" class="ourTeamDiv_slider_img">
      <h3 class="ourTeamDiv_slider_title">Олександр</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item" id="second-card">
      <img src="https://dota2changer.com/image/f/Arcana%20MegaPack%20Shadow%20Fiend.webp" alt="studentPhoto2" class="ourTeamDiv_slider_img">
      <h3 class="ourTeamDiv_slider_title">Гліб</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item" id="third-card">
      <img src="https://dota2changer.com/image/f/Purple%20Platinum%20Shadow%20Fiend%20Arcana%20ModPack%20SF.webp" alt="studentPhoto3" class="ourTeamDiv_slider_img">
      <h3 class="ourTeamDiv_slider_title">Сергій</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
    <div class="ourTeamDiv_slider_item" id="fourth-card">
      <img src="https://en.dota2changer.com/Image/Arcana%20SF%20Demon%20Eather%20Blue%20Color.jpg?v=1" alt="studentPhoto4" class="ourTeamDiv_slider_img">
      <h3 class="ourTeamDiv_slider_title">Кіра</h3>
      <p class="ourTeamDiv_slider_description">Інформація про роботу, яку він/вона виконав/ла</p>
    </div>
  </div>
  <button class="ourTeamDiv_button left" id="button-slider-previous">
    <img src="./img/arrow-left.svg" alt="arrow-left" class="ourTeamDiv_button_svg">
  </button>
  <button class="ourTeamDiv_button right" id="button-slider-next">
    <img src="./img/arrow-right.svg" alt="arrow-right" class="ourTeamDiv_button_svg">
  </button>
</div>
