<div>
  <h2>Наша команда</h2>
  <div>
    <img src="" alt="studentPhoto1" />
    <h3>Олександр</h3>
    <p>Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
  <div>
    <img src="" alt="studentPhoto2" />
    <h3>Гліб</h3>
    <p>Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
  <div>
    <img src="" alt="studentPhoto3" />
    <h3>Сергій</h3>
    <p>Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
  <div>
    <img src="" alt="studentPhoto4" />
    <h3>Кіра</h3>
    <p>Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
  <button>
    <svg>
      <use></use>
    </svg>
  </button>
  <button>
    <svg>
      <use></use>
    </svg>
  </button>
</div>
