<li class="scissors_paper">
  <div class="container">
      <!--  -->
  <h2 class="scissors_paper-title">Камінь - ножиці - папір</h2>
  <!--  -->
    <div class="scissors_paper_lists_wrapper">
        <ul class="scissors_paper-list">
    <li class="scissors_paper-list-item rock">
      <svg></svg>
    </li>
    <li class="scissors_paper-list-item scissors">
      <svg></svg>
    </li>
    <li class="scissors_paper-list-item paper">
      <svg></svg>
    </li>
  </ul>
  <!--  -->
  <ul class="scissors_paper_result_list">
    <h3 class="scissors_paper_result_list_title">Рахунок:</h3>
    <li class="scissors_paper_result_list_item" id="computerWinsCounter">
      Комп’ютер - 0
    </li>
    <li class="scissors_paper_result_list_item" id="userWinsCounter">
      Ви - 0
    </li>
  </ul>
    </div>
  <!--  -->
  <p class="gameResult" id="gameResult">Ви виграли раунд!</p>
  <!--  -->
  <button class="scissors_paper_button" id="computerChoiceBtn">Варіант комп’ютера</button>
  </div>
</li>