<div class="scissors_paper">
  <!--  -->
  <h2 class="scissors_paper-title">Камінь - ножиці - папір</h2>
  <!--  -->
  <div class="scissors_paper_lists_wrapper">
    <ul class="scissors_paper-list">
      <li class="scissors_paper-list-item rock" data-action="rock">
        <img src="./img/rock.svg" alt="rock">
      </li>
      <li class="scissors_paper-list-item scissors" data-action="scissors">
        <img src="./img/scissors.svg" alt="scissors">
      </li>
      <li class="scissors_paper-list-item paper" data-action="paper">
        <img src="./img/paper.svg" alt="paper">
      </li>
    </ul>
    <!--  -->
    <div class="scissors_paper_result_list">
      <ul>
        <p class="scissors_paper_result_list_title">Рахунок:</p>
        <li class="scissors_paper_result_list_item" id="computerWinsCounter">
          Комп’ютер - 0
        </li>
        <li class="scissors_paper_result_list_item" id="userWinsCounter">
          Ви - 0
        </li>        
      </ul>
    </div>
  </div>
  <!--  -->
  <div><p class="gameResult" id="gameResult">Ви виграли раунд!</p></div>
  <!--  -->
  <div class="button-wrapper">
    <button class="scissors_paper-button" id="computerChoiceBtn">
      Варіант комп’ютера
    </button>
  </div>
</div>
