<li class="pick_scientist">
  <h2 class="pick_scientist-title">Обери вченого/их</h2>

  <ul class="pick_scientist-list">
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
    <li class="pick_scientist-list-item"></li>
  </ul> 
  <!--  -->
  <ul class="pick_scientist-buttons">
    <li class="pick_scientist-buttons-item">
      <button class="pick_scientist-button pick_scientist-buttons-1-item">Які вчені народилися в 19 ст.</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-2-item">
      <button class="pick_scientist-button">Знайти рік народження Albert Einshtein</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-3-item">
      <button class="pick_scientist-button">Відсортувати вчених за алфавітом</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-4-item">
      <button class="pick_scientist-button">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-5-item">
      <button class="pick_scientist-button">Відсортувати вчених за кількістю прожитих років</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-6-item">
      <button class="pick_scientist-button">Видалити всіх вчених, ім’я яких починається на “А”</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-7-item">
      <button class="pick_scientist-button">Знайти вченого, який народився найпізніше</button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-8-item">
      <button class="pick_scientist-button">
        Знайти вченого, який прожив найдовше і вченого, який прожив найменше
      </button>
    </li>
    <!--  -->
    <li class="pick_scientist-buttons-item pick_scientist-buttons-9-item">
      <button class="pick_scientist-button">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </li>
  </ul>
</li>
